<div id="page_wrapper">	
	<div class="jumbotron">
		<h2>Welcome</h2>
		<br>
		<h4>This Application is for Political dicussions, next feature to be able to upload pictures to discussions for memes.</h4>
		</br>
	</div>

	<div class="col-md-10 col-md-offset-1 center">
		<%= image_tag("task.jpg", :alt => "rss feed") %>
	</div>
</div>