<footer class="footer">
   <nav>
    <ul> 
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
  <small>
    Created by Stephen Hughes
    thanks to
    <a href="www.udemy.com">Udemy Ruby on Rails course</a>
  </small>
</footer>

